.intro-bg{
    background-color: rgba(59, 59, 59, 0.226);
    border-radius: 15px;
    overflow: hidden;
}

.profile-picture{
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    overflow: hidden;
}